html, body {
    background-color: aqua;
    margin: 0;
    padding: 0;
  }
  th {
    border: 2px solid;
  }

  .main {
    height: 33vh;

    /* Grid */
    display: grid;
    grid-template-rows: auto auto 1fr;
    justify-items: center;
    row-gap: 20px;
    
  }
  .main .create-main {
    grid-row: 1/2;
    display: grid;
    grid-auto-rows: auto;
    row-gap: 5px;
  }
  .main .create-main h3 {
    text-align: center;
  }
  .main .export-main {
    grid-row: 2/3;
  }
  .main .read-main {
    grid-row: 3/4;
  }
  .main .read-main tr th {
    width: 200px;
   
  }
  .main .read-main tr td {
    text-align: center;
  }
  .main .read-main tr td:nth-child(4) {
    display: grid;
    grid-auto-flow: column;
  }
 